
@model IEnumerable<Day4_MVC.Models.aboutCountry>

@{
    ViewBag.Title = "Home Page";
}

<div class="banner">

    <div class="owl-carousel owl-theme banner-carousel">


        <div class="banner-image">
            <img src="/Content/images//bn1.jpg" />
        </div>


        <div class="banner-image">
            <img src="/Content/images/bn2.jpg" />
        </div>


        <div class="banner-image">
            <img src="/Content/images/bn3.png" />
        </div>
    </div>


    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="banner-image">
            <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" lazy-src="/Content/images//bn1.jpg"/>
          </div>
        </div>
        <div class="carousel-item">
          <div class="banner-image">
            <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" lazy-src="/Content/images/bn2.jpg"/>
          </div>
        </div>
        <div class="carousel-item">
          <div class="banner-image">
            <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" lazy-src="/Content/images/bn3.png"/>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> -->




    <div class="banner-title">
        <p class="text-center title-heading">planning</p>
        <a href="#" class="btn btn-custom text-white">Read more</a>
    </div>
</div>

<div class="container mt-5">
    <div class="row m-3">
        <div class="col-12 d-flex">
            <div class="text-center m-auto">
                <h1 class="title-heading m-0 font-weight-bold">the future that you</h1>
                <h2 class="title-heading m-0 text-blue font-weight-bold">will see soon</h2>
                <p class="lorem-text">Sample text. Click to select the text box. Click again or double click to start edting the text</p>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="card-round col-4">
                    <div class="card-head">
                        <b>92</b>
                    </div>
                    <div class="card-body">
                        <h6 class="card-body-title">
                            ULIMITED IDEAS
                        </h6>
                        <div class="card-body-subtitle">
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quos libero, aspernatur</p>
                        </div>
                    </div>
                </div>

                <div class="card-round col-4">
                    <div class="card-head">
                        <b>37</b>
                    </div>
                    <div class="card-body">
                        <h6 class="card-body-title">
                            BEAUTIFUL WEB BLOCKS
                        </h6>
                        <div class="card-body-subtitle">
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quos libero, aspernatur</p>
                        </div>
                    </div>
                </div>


                <div class="card-round col-4">
                    <div class="card-head">
                        <b>25</b>
                    </div>
                    <div class="card-body">
                        <h6 class="card-body-title">
                            RESPONSIVE DESIGNS
                        </h6>
                        <div class="card-body-subtitle">
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quos libero, aspernatur</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 template">
            <h2 class="cbp-mobile text-center mb-4">about company</h2>
            <div class="row">

                <div class="left-template col-md-6 col-sm-12">
                    <img alt="Images Body" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" lazy-src="/Content/images/Ve_dep_tiem_an_cua_nhung_toa_nha_choc_troi_o_Hong_Kong_06.jpg" />
                </div>

                <div class="right-template position-relative col-md-6 col-sm-12">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ea repellendus, modi minima voluptatum possimus saepe? Neque voluptas exercitationem eligendi? Nobis, architecto incidunt. Eveniet labore consequuntur, laboriosam reiciendis voluptate illo.</p>
                </div>

                <a href="#" class="text-template btn-custom">
                    about company
                </a>
            </div>
        </div>

        <div class="col-md-7 col-sm-12 template">
            <h2 class="title-heading font-weight-bold mb-3" style="font-size: 30px !important;">We dwelling elegance do shutters appetite yourself diverted.</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos obcaecati ipsam doloribus quisquam quia sed est, rerum, voluptatem ipsum, autem nisi magnam cumque a optio sequi! Itaque quo obcaecati id?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic doloribus sit nulla ratione eum explicabo quos rerum incidunt deleniti velit dolorem excepturi quisquam iste fuga molestias, voluptatem dolores unde tempore!</p>
        </div>
    </div>
    <div class="row template template-two">

        <div class="col-sm-12 col-md-6">
            <h2 class="title-heading font-weight-bold" style="font-size: 30px;">We will prepare unique design, perform  programing, testing and provide support.</h2>

            <div class="card-text-image">
                <div class="card-text-image_body row">

                    <div class="col-6 align-self-center">
                        <h3 class="card-text-title">DEVELOPMENT</h3>
                        <p>In Supirse  concerns infomed betrayed he learning is ye. Ignorant formely so ye blessing</p>
                    </div>

                    <div class="col-6">
                        <div class="card-body-image">
                            <img alt="Images Body" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" lazy-src="/Content/images/cuoc-song-khong-the-ngo-cua-co-be-dep-nhat-the-gioi-sau-2-nam-noi-tieng-cobexinhdepnhatthegioi-5-1594513532-658-width500height625.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="card-text-image">
                <div class="card-text-image_body row flex-row-reverse">
                    <div class="col-6 align-self-center">
                        <h3 class="card-text-title">STRATEGY</h3>
                        <p>In Supirse  concerns infomed betrayed he learning is ye. Ignorant formely so ye blessing. He as spoke avoid given down money on we. Of properly carriage shutters</p>
                    </div>

                    <div class="col-6">
                        <div class="card-body-image">
                            <img alt="Images Body" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" lazy-src="/Content/images/cuoc-song-khong-the-ngo-cua-co-be-dep-nhat-the-gioi-sau-2-nam-noi-tieng-cobexinhdepnhatthegioi-5-1594513532-658-width500height625.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row template template-three">
        <div class="col-md-4 col-sm-12">
            <div class="card-text-image">
                <div class="card-text-image_body row">
                    <div class="col-12 align-self-center mb-5">
                        <h3 class="card-text-title">NORA PERRY</h3>
                        <p><q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia velit perferendis doloribus, sequi expedita beatae fugit enim laboriosam quidem. Inventore quam eius similique ea libero aperiam corporis aliquid debitis vitae!</q></p>
                        <a href="" class="font-weight-bold text-black">learn more</a>
                    </div>

                    <div class="col-12">
                        <div class="card-body-image">
                            <img alt="Images Body" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" lazy-src="/Content/images/cuoc-song-khong-the-ngo-cua-co-be-dep-nhat-the-gioi-sau-2-nam-noi-tieng-cobexinhdepnhatthegioi-5-1594513532-658-width500height625.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="card-text-image">
                <div class="card-text-image_body row">
                    <div class="col-12 align-self-center mb-2 ">
                        <h2 class="font-weight-bold display-4">team</h2>
                    </div>

                    <div class="col-12">
                        <div class="card-body-image">
                            <img alt="Images Body" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" lazy-src="/Content/images/images1726861_3.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-12">
            <div class="card-text-image">
                <div class="card-text-image_body row flex-column-reverse">
                    <div class="col-12 align-self-center mb-5">
                        <h3 class="card-text-title">NINA LARSON</h3>
                        <p><q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae cumque omnis, sit nihil ipsum explicabo quod fuga debitis earum saepe reprehenderit, dolores quis consequatur quos laudantium? Velit dolorem nostrum delectus!</q></p>
                        <a href="" class="font-weight-bold text-black">learn more</a>
                    </div>

                    <div class="col-12">
                        <div class="card-body-image mb-5">
                            <img alt="Images Body" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" lazy-src="/Content/images/1413366240-untitled-31.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="bg-grey py-4">
    <div class="container">
        <div class="template-five row">
            <div class="col-12">
                <h2 class="title text-center mb-5 font-weight-bold">Latest Travel News</h2>
            </div>
            @foreach (var item in Model)
            {
                <div class="card-image col-md-4 col-sm-6 col-6" onclick="showDetailsTravel('@item.Country','@item.img','@item.Description')">
                    <div class="card-image-cover">
                        <div class="card-image-head">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" lazy-src="@item.img" alt="@item.Country">
                        </div>
                        <div class="card-image-body">
                            <p class="sub-title mt-2">@item.timecreate</p>
                            <h3 class="main-title">@item.Country</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="row bg-blue p-5 template-four">
    <div class="col-md-6 col-sm-12">
        <h3 class="display-4 ds-mobile">Online Secretary Service</h3>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="card-round col-12">
                <div class="card-head">
                    <b>01</b>
                </div>
                <div class="card-body">
                    <h6 class="card-body-title">
                        TEACHING
                    </h6>
                    <div class="card-body-subtitle">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde quod, ad necessitatibus officia quisquam, doloremque nobis consectetur excepturi </p>
                    </div>
                </div>
            </div>
            <div class="card-round col-12">
                <div class="card-head">
                    <b>02</b>
                </div>
                <div class="card-body">
                    <h6 class="card-body-title">
                        INNOVATIONS
                    </h6>
                    <div class="card-body-subtitle">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde quod, ad necessitatibus officia quisquam, doloremque nobis consectetur excepturi </p>
                    </div>
                </div>
            </div>
            <div class="card-round col-12">
                <div class="card-head">
                    <b>03</b>
                </div>
                <div class="card-body">
                    <h6 class="card-body-title">
                        STUDENTS
                    </h6>
                    <div class="card-body-subtitle">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde quod, ad necessitatibus officia quisquam, doloremque nobis consectetur excepturi </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row infomation-contact">
    <div class="form-contact m-auto">
        <div class="row">
            <div class="col-md-4 col-sm-12 align-self-end">
                <h3>GET IN TOUCH</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero temporibus vitae, ad beatae dolores ullam reprehenderit quibusdam sint molestiae, quis, tempora possimus! Temporibus illum velit exercitationem, laudantium dolorum cumque natus?</p>
                <div class="mt-5"><a href="#" class="btn-ct btn-outline-black">LEARN MORE</a></div>
            </div>
            <div class="col-md-8 col-sm-12">
                <form>
                    <input class="contact-input" required placeholder="Enter the valid email address" />

                    <input class="contact-input" placeholder="Enter your address" />


                    <textarea class="contact-input" required rows="5" placeholder="Enter your message"></textarea>


                    <input type="submit" class="btn-ct btn-outline-black float-right mt-3" value="Submit" />
                </form>
            </div>
        </div>
        <div class="textG">
            <b>G</b>
        </div>
    </div>
</div>


<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="contentReplace">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@section script{
    <script>
        const showDetailsTravel = (country, image, des) => {
            const data = {
                country, image, des
            };

            $('#contentReplace').html('')
            $('#travelDetails').tmpl(data).appendTo('#contentReplace');

            $('#modelId').modal('show');
        }
    </script>

    <script id="travelDetails" type="text/x-jquery-tmpl">
        <div class="modal-header">
            <h5 class="modal-title">About Country</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-center">
            <img style="max-height:200px;" src="${image}" alt="${country}" />

            </div>

            <h1 class="text-center font-weight-bold mt-4 mb-5">${country}</h1>

            <p>${des}</p>
        </div>
    </script>


    <script>
        $('.banner-carousel').owlCarousel({
            loop: true,
            nav: true,
            items: 1
        })
    </script>
}